@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
